<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">  

    <link rel="stylesheet" href="/css/app.css">

    
    <title></title>
</head>
<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <nav>
        <a href="/fund/new">Add a New Charity</a>
    </nav>
    <div class="header">
        <h1>Welcome to ZHARAFUND!</h1>

        <p>Conneting awesome donors with good causes</p>
        <h3>
            The Reward of Goodnes <br/> is Nothing but Goodness
        </h3> 
    </div>
    <div class="join-org">
        <h5>RECENTLY JOINED ORGANIZATIONS</h5>
    </div>
    <div class="container">
        <ul class="organization-list">
            <% for(let i = 0; i < fund.length; i++){ %>                             
                <li class="organization">
                        <h3><%= fund[i].name %> </h3>
                        <img src="<%= fund[i].img%> " alt="Picture of <%= fund[i].name%> "> 
                        <p><%= fund[i].address%> </p>


                        <form action="/fund/<%=fund.id%>?_method=PUT" method="POST">
                            <!-- <button type="submit" class="info-button"> -->

                                <a href="/fund/<%=fund[i].id%>" class="info-button">INFO</a>
                           
                        </form> 
                        
                       

                </li>
            <% } %> 
         
        </ul>
    </div>
    <div class="message">
        <h2>GIVING IS A NEVER-ENDING DEED</h2>
        <P>
            Those who spend their wealth in charity day and night, secretly and openly--their <br>
            reward is with their Lord, and there will be no fear for them, nor will they grieve.
        </P>
    </div>
    <div class="footer">
        <%- include ('../partials/footer.ejs') %>
    </div>
</body>
</html>