<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> 
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->

    <link rel="stylesheet" href="/css/app.css">

    
    <title></title>
</head>
<body>
    <nav>
        <%-include('../partials/nav.ejs') %>
    </nav>
    <div class="header">
        <div class="header-text">
        <h1>Welcome to ZHARAFUND!</h1>

        <p>Raise Money For Anything</p>
        <h2>
            The Reward of Goodnes is Nothing but Goodness
        </h2> 
       
    </div>
    </div>
    <section class="ready-to-add">
        <div class="home-section-content">
            <div class="ready-to-add-inner">
                <div class="ready-to-add-left show-on-dektop">
                    <h2>Ready to add a Orginization?</h2>
                    <p>No signups required. Free for any orinization use!</p>
                </div>
                <div class="ready-to-add-right show-on-dektop">

                </div>
                <nav class='add-new-charity'>
                    
                    <a href="/fund/new" class="add-new-btn">add  new charity</a>
                </nav>
    
            </div>
        </div>
        
    </section>
    
    <div class="join-org">
        <h5 class="recently-join">RECENTLY JOINED ORGANIZATIONS</h5>
        <hr />
    </div>
    <div class="main-container">
        <ul class="organization-list">
            <% for(let i = 0; i < fund.length; i++){ %>                             
                <li class="organization">
                        <img class="card-img" src="<%= fund[i].img%> " alt="Picture of <%= fund[i].name%>"> 
                        <div class="card-content">
                            <h3 class="card-header"><%= fund[i].name %> </h3>
                            <p class="card-text"><%= fund[i].address%> </p>
                            <span class="amount">Funded of $<%= fund[i].amount%></span>
                            <!-- <h3>Funded of $<%= fund[i].amount%> </h3> -->
 
                            <form action="/fund/<%=fund.id%>?_method=PUT" method="POST">
                            <!-- <button type="submit" class="info-button"> -->
                               
                                    <a href="/fund/<%=fund[i].id%>" class="support-btn">support now</a>
                                
                            </form> 
                        </div>
                        
                        
                       

                </li>
            <% } %> 
         
        </ul>
    </div>
    <section class="message">
        <div class="message-container">
            <h2>The most effective fundraising platfor for any organization!</h2>
            <h1>Be a life changer!</h1>
            <div class="ready-to-add-left show-on-dektop">
            <p>What you seek is seeking you? <br />
                
                - Mawlana Rumi</p>
            </div>    
        </div>
    </section>
    <div class="footer">
        <%- include ('../partials/footer.ejs') %>
    </div>
</body>
</html>