<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">  
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&display=swap" rel="stylesheet">

    <title></title>
</head>
<body>

    <style>
        body{
            display: flex;
            flex-direction: column;
        }
    </style>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <nav>
        <a class="back-to-charity-button" href="/fund/">Back to Charity</a>
    </nav>
    <div class="show-container">
        <div class="show-card">
            <img class="img" src="<%= fund.img%> " alt="">
            <h3><%= fund.name%> </h3>
            <p><%= fund.description%> </p>
            <h5><%= fund.address%> </h5>
            <h5><%= fund.city%> </h5>
            <h5><%= fund.state%> </h5>
            <p>AMOUNT: $<%= fund.amount%> </p>

            <!-- EDIT BUTTON -->
            <a class="edit-button" href="/fund/<%=fund.id%>/edit">Edit the Charity</a>

            <!-- DONATE BUTTON -->
            <form action="/fund/donate<%=fund.id%>?_method=PUT" method="POST">
                <button type="submit" class="donate-button">DONATE NOW</button>
                <!-- <input type="submit" class="donate-button" value="DONATE NOW"/> -->
            </form>
        </div>

        <!-- DELETE BUTTON -->
        <form action="/fund/<%=fund.id%>?_method=DELETE" method="POST">
            <button type="submit" class="delete-button">DELETE</button>
        </form>
    </div>

   <div class="footer">
        <%- include ('../partials/footer.ejs') %>
    </div>
</body>
</html>