<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">

    <title>Document</title>
</head>
<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <nav>
        <a href="/fund/">Back to Charity</a>
    </nav>
    <div class="show-container">
        <div class="show-card">
            <img src="<%= fund.img%> " alt="">
            <h2><%= fund.name%> </h2>
            <p><%= fund.description%> </p>
            <h5><%= fund.address%> </h5>
            <p>AMOUNT: $<%= fund.amount%> </p>

            <a href="/fund/<%=fund.id%>/edit">Edit the Charity</a>
        </div>
    </div>
   
</body>
</html>