<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="card">
            <img src="<%= fund.img%> " alt="Picture of <%= fund.name%> "> <br/>
            <h2><%= fund.name%></h2> <br/>
            <p><%= fund.description%></p> <br/>
            <h4><%= fund.amount%> </h4><br/>

        </div>
    </div>
</body>
</html>